<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>
<body>
    <form action="/login" method="post">
        <div>
            <label for="name">
                Name
            </label>
            <input type="text" placeholder="name" name="name">
        </div>
        <div>
            <label for="password">
                Password
            </label>
            <input type="password" placeholder="password" name="password">
        </div>
        <button type="submit">
            Ok
        </button>
    </form>
</body>
</html>